#COLONNE1 {
  width: 30%;
  background-color: rgb(206, 198, 198);
}
main {
  display: flex;
}
article {
  width: 70%;
  font-size: small;
}

nav /* Modifie la balise de Navigation*/ {
  width: auto; /* Mets la largeur en 1025 pixels*/
  height: auto; /* Mets la hauteur en automatique*/
  padding: 10px 40px 10px 30px; /* Mets l'interieur en 10px sur 40 px sur 10 px sur 40 px (Px= Pixel)*/
  border: 5px solid black; /* Mets la Bordure a 5 px solide en noir */
  margin: 5px 0 5px 0; /* Mets la marge de 5 px sur 0px de largeur*/
  background-color: black; /* Mets la couloir de l'arrière plan en noir*/
  color: white; /* Mets la couleur en Blanc*/
}

img {
  max-width: 100%; /* Mets la largeur maximum en 100% */
  height: auto; /* Mets la hauteur en automatique */
}
#promo                                /* CHange uniquement L'image de Promotion*/ {
  width: 100%;
  height: auto; /* Cange la hauteur en automatique */
}

a /* Modifie la balise de lien*/ {
  color: white; /* change la couleur en Blanc*/
  font-size: large;
}

ul                                   /* Modifie la balise des listes */ {
  width: auto; /* Mets la largeur en automatique*/
  height: auto; /* Mets la hauteur en automatique*/
  padding: 20px 30px 20px 30px; /* Mets l'interieur en 20px sur 30 px sur 20px sur 30px*/
  border: 5px solid black; /* Mets la bordure en 5px solide noir*/
  margin: 5px 0 5px 0; /* Mets la marge en 5px sur 0px*/
  background-color: black; /* Mets la couloir de l'arrière plan en noir*/
  color: white; /* Mets la couleur en Blanc*/
}

#jarditou {
  /* Modifie uniquement ID de la boite jarditou */
  width: auto; /* Mets la largeur en 300 pixels*/
  height: auto; /* Mets la hauteur en automatique */
}
#Tableau1 {
  /* Modifie uniquement ID de la boite Tableau1 */
  background-color: aqua; /* Change la couleur de l'arrière plan en aqua */
  width: auto; /* Mets la largeur en automatique */
}
body {
  font-size: 10px;
}
#Table1 {
  margin: -5px;
  width: 101%; /* Mets la largeur en 100% */
  background-color: greenyellow;
}
td {
  font-size: large; /* Mets la taille de la police en 1.5em */
  text-align: center; /* Mets le texte au centre */
}
th {
  font-size: large; /* Mets la taille de la police en 1.5em */
}
#Formulaire1 {
  margin-left: -6px;
  font-size: large; /* Mets la taille de la police en 1.5em */
  background-color: aliceblue;
}
#Envoyer {
  font-size: large;
  background-color: khaki;
}
#Annuler {
  background-color: khaki;
  font-size: large;
}
label {
  color: red;
}
